html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: inherit;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.info-block {
    background-color: rgba(192,192,192, 0.61);
    border-radius: 5px;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

div#login-block {
    width: 10%;
}

div#welcome-message {
    width: 50%;
}

img.button-image {
    border-radius: 10px;
    width: 64px;
    height: 64px;
}

img.button-image:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
